# === API & HTTP ===
requests==2.32.3
urllib3==1.26.18

# === Google Trends ===
pytrends==4.9.2

# === Data processing ===
pandas==2.2.2
numpy==1.26.4
pyarrow==16.1.0

# === Machine Learning ===
scikit-learn==1.5.1

# === Elasticsearch ===
elasticsearch==8.13.2

# === Utilitaires ===
python-dotenv==1.0.1